# Sets website homepage
DirectoryIndex index.html

# mod_rewrite starts here
RewriteEngine on

# Redirect index
RewriteRule ^index\.(php|html|htm)$ / [R=301,L]

# Make sure that existing directories arent changed, and wont run RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d

RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{HTTP_HOST} ^fortelations.com [NC]
RewriteRule ^(.*)$ http://regist.fortelations.com/$1 [L,R=301]